<!DOCTYPE html>
<!--
# goFF -- Israq Mahid, Angela Zhang, Michelle Lo, Rayat Roy
# SoftDev
# PO1 -- goFF's home page
# 2021-12-07
 -->

<html>
    <tite>
        User
    </tite>

    <head>
        
    </head>
    <body>
        <h1>
            Welcome {{user}}
        </h1>

        <form>
            <input formaction="/logout" type="submit" value="Logout">
        </form>

        <p>
            Hello {{user}}! Check <a href="/template_test">this</a> out!
        </p>
    </body>
    
    
</html>