<!DOCTYPE html>
<!--
# goFF -- Israq Mahid, Angela Zhang, Michelle Lo, Rayat Roy
# SoftDev
# PO1 -- goFF's index page
# 2021-12-07
 -->

 <html>

  <head>
    <title> INDEX PAGE </title>
  </head>

  <body>
    <center>
      <h1>
        Welcome to goFindFriends!
      </h1>
      <br>
      <br>
      <form>
      	<input formaction = "/register" type="submit" value="Register">
      	<br><br>
      	<input formaction = "/login" type="submit" value="Login">
      </form>
      <br>
      <h2>
        We are Team goFF, consisting of Angela Zhang, Rayat Roy, Michelle Lo, and Israq Mahid, we bring to you goFindFriends!
        <br>
        <br>
        Have you ever wanted to simulate what it’s like to have friends but can never find the time or courage to do so? Then, goFindFriends is the perfect solution for you! goFindFriends (goFF) is a friendship simulation game in which users can match with randomly generated user profiles which showcases their name, bio, age, and other fun facts such as favorite songs, artists, and quote. If users are found to be compatible with one another, they will also be able to simulate what it’s like to have a friendly conversation by engaging in a fun trivia game based on the other user’s interests.
        <br>
        <br>
        Now that you have the gist of it, register or login to begin the fun now!
      </h2>
    </center>
  </body>
