<!DOCTYPE html>
<html>
    <head>
        <title>{{name}}'s Profile</title>
    </head>

    <body>
        <h1>
            {{name}}'s Profile
        </h1>

        <img src = "{{pfp}}">

        <div>
            <h2>About me!</h2>
            <p>
                Hi, my name is {{name}} and I'm {{age}}. There's a couple of things I like and don't like, but I hope we can be friends!
            </p>
            <br>

            <p>My favorite song is {{song_name}}. It's {{song_genre}} song that I really enjoy!</p>

            <div>
                <h3>
                    Likes:
                </h3>

                <list>
                    {% for item in likes %}
                        <li>{{item}}</li>
                    {% endfor %}
                </list>

                <h3>
                    Dislikes:
                </h3>

                <list>
                    {% for item in dislikes %}
                        <li>{{item}}</li>
                    {% endfor %}
                </list>
            </div>
            

        </div>
        

    </body>
</html>