<!DOCTYPE html>
<html>
    <head>
        <title>{{character.name}}'s Profile</title>
    </head>

    <body>
        <h1>
            {{character.name}}'s Profile
        </h1>

        <img src = "{{character.pfp}}">

        <div>
            <h2>About me!</h2>
            <p>
                Hi, my name is {{character.name}} and I'm {{charcter.age}}. There's a couple of things I like and don't like, but I hope we can be friends!
            </p>
            <br>

            <p>My favorite song is {{charcter.song.name}. It's {{character.song.genre}} song that I really enjoy!</p>

            <div>
                <h3>
                    Likes:
                </h3>

                <list>
                    {% for item in character.likes %}
                        <li>{{item}}</li>
                    {% end for %}
                </list>

                <h3>
                    Dislikes:
                </h3>

                <list>
                    {% for item in character.likes %}
                        <li>{{item}}</li>
                    {% end for %}
                </list>
            </div>
            

        </div>
        

    </body>
</html>